DJANGO_SECRET_KEY=cambia-esta-clave
DJANGO_DEBUG=True
DB_NAME=abastecimiento_medico_db
DB_USER=abastecimiento_user
DB_PASSWORD=CAMBIA_ESTA_CLAVE
DB_HOST=localhost
DB_PORT=5432
STUDENT_NAME=Jorge Essus
STUDENT_SECTION=TI3041/I EC-N4-C2/D
STUDENT_YEAR=2026
